<div class="mx-auto md:w-2/3 w-full flex">
  <div class="mx-auto">
    <% if notice.present? %>
      <p class="py-2 px-3 bg-green-50 mb-5 text-green-500 font-medium rounded-lg inline-block" id="notice"><%= notice %></p>
    <% end %>

    <%= render @daily_log %>

    <% if @daily_log.weight.nil? %>
      <%= link_to "Record your weight", new_daily_log_path(@daily_log), class:
      "mt-2 rounded-lg py-3 px-5 bg-gray-100 inline-block font-medium" %>
    <% else %>
      <%= link_to "Edit weight", edit_daily_log_path(@daily_log,
      @daily_log.weight), class: "mt-2 rounded-lg py-3 px-5 bg-gray-100
      inline-block font-medium" %>
    <% end %>

    <%= link_to "Edit this daily_log", edit_daily_log_path(@daily_log), class: "mt-2 rounded-lg py-3 px-5 bg-gray-100 inline-block font-medium" %>
    <div class="inline-block ml-2">
      <%= button_to "Destroy this daily_log", daily_log_path(@daily_log), method: :delete, class: "mt-2 rounded-lg py-3 px-5 bg-gray-100 font-medium" %>
    </div>
    <%= link_to "Back to daily_logs", daily_logs_path, class: "ml-2 rounded-lg py-3 px-5 bg-gray-100 inline-block font-medium" %>
  </div>
</div>
