<!DOCTYPE html>
<html>
  <head>
    <title>Count It</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <nav class="py-5 px-3 flex flex-row-reverse gap-4">
      <% if user_signed_in? %>
        <%= link_to "Edit Password", edit_password_path, class: "rounded-md
        bg-gray-700 text-white py-3 px-3 hover:bg-gray-900" %>
      <%= button_to "Log out", session_path, method: :delete, class: "rounded-md
      bg-gray-700 text-white py-3 px-3 hover:bg-gray-900" %>
      <% else %>
      <%= link_to "Sign Up", new_registration_path, class: "rounded-md
      bg-gray-700 text-white py-3 px-3 hover:bg-gray-900" %>
      <%= link_to "Log in", new_session_path, class: "rounded-md bg-gray-700
      text-white py-3 px-3 hover:bg-gray-900" %>
      <% end %>
    </nav>
    <div>
      <%= notice %>
      <%= alert %>
    </div>
    <main class="container mx-auto mt-16 px-5 flex">

      <br>


      <br>

      <div>
        <%= yield %>
      </div>
    </main>
  </body>
</html>
